<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>Index</title>
        <meta charset="utf-8" />
    </head>

    <body>
        <h3>Alueet</h3>
        <div style="float: left; width: 33%;">
            <ul style="list-style-type: none;">
                <li><b>Alueet</b></li>
                <li th:each="alue: ${alueet}">
                <span th:text="${alue}"></span> 
            </li>
            </ul>
        </div>
        <div style="float: left; width: 33%;">
            <ul style="list-style-type: none;">
                <li><b>Viestien lukumäärä</b></li>
                <li th:each="maara: ${maarat}">
                <span th:text="${maara}"></span> 
            </li>
            </ul>
        </div>
        <div style="float: right; width: 33%;">
            <ul style="list-style-type: none;">
                <li><b>Viimeisin viesti</b></li>
                <li th:each="aika: ${ajat}">
                <span th:text="${aika}"></span> 
            </li>
            </ul>
        </div>
    </body>
</html>